<?xml version="1.0"?>
<robot name="car" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="scale" value="0.001"/>

  <xacro:include filename="$(find simulator)/urdf/wheel_assembly.urdf"/>
	<xacro:include filename="$(find simulator)/urdf/chassis.urdf"/>
	<xacro:include filename="$(find simulator)/urdf/aero.urdf"/>
  
  <xacro:chassis />
	<!-- uncomment statement below to remove the aerodynamics -->
	<!-- <xacro:aero_kit /> -->
 
	<xacro:wheel prefix="drivewhl_rl" is_rear="1" is_left="1" name="RL" />
  	<xacro:wheel prefix="drivewhl_rr" is_rear="1" is_left="0" name="RR" reverse="-1" />
	<xacro:wheel prefix="drivewhl_fl" is_rear="0" is_left="1" name="FL"/>
  	<xacro:wheel prefix="drivewhl_fr" is_rear="0" is_left="0" name="FR" reverse ="-1" />


	<link name="base_link"/>

	<joint name="base_to_chassis" type="fixed">
		<parent link="base_link"/>
		<child link="chassis"/>
		<origin rpy="0 0 ${pi/2}"/>
	</joint>

  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
		<robotNamespace>/</robotNamespace>
		</plugin>
	</gazebo>



</robot>
